
body {
  background: #fafafa;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  font-size: 15px; 
height: 100%;}

html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
  background: #fafafa; }

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 600; }

h1 {
  line-height: 43px; }

h2 {
  line-height: 35px; }

h3 {
  line-height: 30px; }
  h3 small {
    color: #444444; }

h4 {
  line-height: 22px; }
  h4 small {
    color: #444444; }

h5 small {
  color: #444444; }

* {
  outline: none !important; }

a:hover {
  outline: 0;
  text-decoration: none; }
a:active {
  outline: 0;
  text-decoration: none; }
a:focus {
  outline: 0;
  text-decoration: none; }

b {
  font-weight: 500; }

.container {
  width: auto;
  padding-left: 10px;
  padding-right: 10px; }

.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.footer {
  background-color: #f9f9f9;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  bottom: 0;
  color: #1d1e3a;
  text-align: center;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  left: 240px; }

#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%; }

.page {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0; }

/* Social */
.social-links li a {
  -webkit-border-radius: 50%;
  background: #f8f8f8;
  border-radius: 50%;
  color: #9f9f9f;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px; }

/* ==============
  Loader
===================*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fafafa;
  z-index: 9999999; }

#status {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px; }

.spinner {
  position: absolute;
  width: 78px;
  height: 78px;
  left: 50%;
  margin-left: -39px;
  margin-top: -39px; }

.spinner:before {
  content: '';
  position: absolute;
  width: 45px;
  height: 45px;
  top: 50%;
  margin-top: -23px;
  left: 50%;
  margin-left: -23px;
  border-width: 2px 1px;
  border-style: solid;
  border-color: #4ac18e rgba(74, 193, 142, 0.3);
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  animation: spin 3.45s infinite;
  -o-animation: spin 3.45s infinite;
  -ms-animation: spin 3.45s infinite;
  -webkit-animation: spin 3.45s infinite;
  -moz-animation: spin 3.45s infinite; }

.spinner:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -6px;
  background-color: #4ac18e;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -o-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -ms-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -webkit-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
  -moz-animation: pulse 6.9s infinite, borderPulse 6.9s infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(1080deg); } }
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }
  50% {
    -o-transform: rotate(360deg); }
  100% {
    -o-transform: rotate(1080deg); } }
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg); }
  50% {
    -ms-transform: rotate(360deg); }
  100% {
    -ms-transform: rotate(1080deg); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(360deg); }
  100% {
    -webkit-transform: rotate(1080deg); } }
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  50% {
    -moz-transform: rotate(360deg); }
  100% {
    -moz-transform: rotate(1080deg); } }
@keyframes pulse {
  0% {
    background-color: rgba(74, 193, 142, 0.2); }
  13% {
    background-color: rgba(74, 193, 142, 0.2); }
  15% {
    background-color: rgba(74, 193, 142, 0.9); }
  28% {
    background-color: rgba(74, 193, 142, 0.9); }
  30% {
    background-color: rgba(74, 193, 142, 0.2); }
  43% {
    background-color: rgba(74, 193, 142, 0.2); }
  45% {
    background-color: rgba(74, 193, 142, 0.9); }
  70% {
    background-color: rgba(74, 193, 142, 0.9); }
  74% {
    background-color: rgba(74, 193, 142, 0.2); }
  100% {
    background-color: rgba(74, 193, 142, 0.9); } }
@-o-keyframes pulse {
  0% {
    background-color: rgba(74, 193, 142, 0.2); }
  13% {
    background-color: rgba(74, 193, 142, 0.2); }
  15% {
    background-color: rgba(74, 193, 142, 0.9); }
  28% {
    background-color: rgba(74, 193, 142, 0.9); }
  30% {
    background-color: rgba(74, 193, 142, 0.2); }
  43% {
    background-color: rgba(74, 193, 142, 0.2); }
  45% {
    background-color: rgba(74, 193, 142, 0.9); }
  70% {
    background-color: rgba(74, 193, 142, 0.9); }
  74% {
    background-color: rgba(74, 193, 142, 0.2); }
  100% {
    background-color: rgba(74, 193, 142, 0.9); } }
@-ms-keyframes pulse {
  0% {
    background-color: rgba(74, 193, 142, 0.2); }
  13% {
    background-color: rgba(74, 193, 142, 0.2); }
  15% {
    background-color: rgba(74, 193, 142, 0.9); }
  28% {
    background-color: rgba(74, 193, 142, 0.9); }
  30% {
    background-color: rgba(74, 193, 142, 0.2); }
  43% {
    background-color: rgba(74, 193, 142, 0.2); }
  45% {
    background-color: rgba(74, 193, 142, 0.9); }
  70% {
    background-color: rgba(74, 193, 142, 0.9); }
  74% {
    background-color: rgba(74, 193, 142, 0.2); }
  100% {
    background-color: rgba(74, 193, 142, 0.9); } }
@-webkit-keyframes pulse {
  0% {
    background-color: rgba(74, 193, 142, 0.2); }
  13% {
    background-color: rgba(74, 193, 142, 0.2); }
  15% {
    background-color: rgba(74, 193, 142, 0.9); }
  28% {
    background-color: rgba(74, 193, 142, 0.9); }
  30% {
    background-color: rgba(74, 193, 142, 0.2); }
  43% {
    background-color: rgba(74, 193, 142, 0.2); }
  45% {
    background-color: rgba(74, 193, 142, 0.9); }
  70% {
    background-color: rgba(74, 193, 142, 0.9); }
  74% {
    background-color: rgba(74, 193, 142, 0.2); }
  100% {
    background-color: rgba(74, 193, 142, 0.9); } }
@-moz-keyframes pulse {
  0% {
    background-color: rgba(74, 193, 142, 0.2); }
  13% {
    background-color: rgba(74, 193, 142, 0.2); }
  15% {
    background-color: rgba(74, 193, 142, 0.9); }
  28% {
    background-color: rgba(74, 193, 142, 0.9); }
  30% {
    background-color: rgba(74, 193, 142, 0.2); }
  43% {
    background-color: rgba(74, 193, 142, 0.2); }
  45% {
    background-color: rgba(74, 193, 142, 0.9); }
  70% {
    background-color: rgba(74, 193, 142, 0.9); }
  74% {
    background-color: rgba(74, 193, 142, 0.2); }
  100% {
    background-color: rgba(74, 193, 142, 0.9); } }
@keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 white, 0 0 0 1px rgba(74, 193, 142, 0.8); }
  40% {
    box-shadow: 0 0 0 1px white, 0 0 0 2px rgba(74, 193, 142, 0.8); }
  80% {
    box-shadow: 0 0 0 3px #ffffff, 0 0 1px 3px rgba(74, 193, 142, 0.8); } }
@-o-keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 white, 0 0 0 1px rgba(74, 193, 142, 0.8); }
  40% {
    box-shadow: 0 0 0 1px white, 0 0 0 2px rgba(74, 193, 142, 0.8); }
  80% {
    box-shadow: 0 0 0 3px #ffffff, 0 0 1px 3px rgba(74, 193, 142, 0.8); } }
@-ms-keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 white, 0 0 0 1px rgba(74, 193, 142, 0.8); }
  40% {
    box-shadow: 0 0 0 1px white, 0 0 0 2px rgba(74, 193, 142, 0.8); }
  80% {
    box-shadow: 0 0 0 3px #ffffff, 0 0 1px 3px rgba(74, 193, 142, 0.8); } }
@-webkit-keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 white, 0 0 0 1px rgba(74, 193, 142, 0.8); }
  40% {
    box-shadow: 0 0 0 1px white, 0 0 0 2px rgba(74, 193, 142, 0.8); }
  80% {
    box-shadow: 0 0 0 3px #ffffff, 0 0 1px 3px rgba(74, 193, 142, 0.8); } }
@-moz-keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 white, 0 0 0 1px rgba(74, 193, 142, 0.8); }
  40% {
    box-shadow: 0 0 0 1px white, 0 0 0 2px rgba(74, 193, 142, 0.8); }
  80% {
    box-shadow: 0 0 0 3px #ffffff, 0 0 1px 3px rgba(74, 193, 142, 0.8); } }
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* ==============
  Bootstrap-custom
===================*/
.row {
  margin-right: -10px;
  margin-left: -10px; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12,
.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
.col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2,
.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1,
.col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5,
.col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
  padding-left: 10px;
  padding-right: 10px; }

.breadcrumb {
  background-color: transparent;
  margin-bottom: 15px;
  margin-top: 5px; }

.dropdown-menu {
  padding: 4px 0;
  font-size: 15px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05); }

.dropdown-item.active, .dropdown-item:active {
  color: #1d1e3a;
  text-decoration: none;
  background-color: #eeeeee; }

.dropdown-item {
  padding: 6px 1.5rem; }

.bg-primary {
  background-color: #4ac18e !important; }

.bg-success {
  background-color: #67a8e4 !important; }

.bg-info {
  background-color: #47b8c6 !important; }

.bg-warning {
  background-color: #eca14f !important; }

.bg-danger {
  background-color: #e9595b !important; }

.bg-muted {
  background-color: #707070 !important; }

.bg-white {
  background-color: #ffffff !important; }

.text-white {
  color: #ffffff !important; }

.text-danger {
  color: #e9595b !important; }

.text-muted {
  color: #707070 !important; }

.text-primary {
  color: #4ac18e !important; }

.text-warning {
  color: #eca14f !important; }

.text-success {
  color: #67a8e4 !important; }

.text-info {
  color: #47b8c6 !important; }

.text-dark {
  color: #1d1e3a !important; }

.badge-default {
  background-color: #eeeeee;
  color: #1d1e3a; }

.badge-primary {
  background-color: #4ac18e; }

.badge-success {
  background-color: #67a8e4; }

.badge-info {
  background-color: #47b8c6; }

.badge-warning {
  background-color: #eca14f; }

.badge-danger {
  background-color: #e9595b; }

.badge-dark {
  background-color: #1d1e3a; }

/* Navs & Tabs */
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  background-color: #4ac18e; }

.nav-pills > .active > a > .badge {
  color: #4ac18e; }

/* List Group */
.list-group-item.active {
  background-color: #dddddd;
  border-color: #dddddd;
  color: #444444;
  z-index: 2; }
  .list-group-item.active:hover {
    background-color: #dddddd;
    border-color: #dddddd;
    color: #444444;
    z-index: 2; }
    .list-group-item.active:hover .list-group-item-text {
      color: #4ac18e; }
  .list-group-item.active:focus {
    background-color: #dddddd;
    border-color: #dddddd;
    color: #444444;
    z-index: 2; }
    .list-group-item.active:focus .list-group-item-text {
      color: #4ac18e; }
  .list-group-item.active .list-group-item-text {
    color: #4ac18e; }

.list-group-item {
  border-radius: 0;
  padding: 12px 20px;
  border: 1px solid fade(#1d1e3a, 6%); }
  .list-group-item:first-child {
    border-radius: 0;
    padding: 12px 20px; }
  .list-group-item:last-child {
    border-radius: 0;
    padding: 12px 20px; }

.list-group-item-heading {
  font-weight: 300; }

.list-group-item.active > .badge {
  color: #4ac18e; }

/* =============
   Alerts
============= */
.alert {
  position: relative;
  border: 0; }
  .alert .alert-link {
    font-weight: 600; }

.alert-success {
  color: #4ac18e;
  background-color: #e2f5ed; }
  .alert-success .alert-link {
    color: #37a174; }
  .alert-success hr {
    border-top-color: #37a174; }

.alert-info {
  color: #47b8c6;
  background-color: #e3f4f6; }
  .alert-info .alert-link {
    color: #349aa6; }
  .alert-info hr {
    border-top-color: #349aa6; }

.alert-warning {
  color: #eca14f;
  background-color: #fcf0e2; }
  .alert-warning .alert-link {
    color: #e78821; }
  .alert-warning hr {
    border-top-color: #e78821; }

.alert-danger {
  color: #e9595b;
  background-color: #fbe0e0; }
  .alert-danger .alert-link {
    color: #e32c2f; }
  .alert-danger hr {
    border-top-color: #e32c2f; }

/* ==============
  Helper Classes
===================*/
.p-0 {
  padding: 0; }

.p-t-10 {
  padding-top: 10px; }

.p-b-10 {
  padding-bottom: 10px; }

.m-0 {
  margin: 0; }

.m-r-5 {
  margin-right: 5px; }

.m-r-10 {
  margin-right: 10px; }

.m-r-15 {
  margin-right: 15px; }

.m-l-10 {
  margin-left: 10px; }

.m-l-15 {
  margin-left: 15px; }

.m-t-5 {
  margin-top: 5px; }

.m-t-10 {
  margin-top: 10px; }

.m-t-15 {
  margin-top: 15px; }

.m-t-20 {
  margin-top: 20px; }

.m-t-30 {
  margin-top: 30px; }

.m-t-40 {
  margin-top: 40px; }

.m-b-5 {
  margin-bottom: 5px; }

.m-b-10 {
  margin-bottom: 10px; }

.m-b-15 {
  margin-bottom: 15px; }

.m-b-20 {
  margin-bottom: 20px; }

.m-b-30 {
  margin-bottom: 30px; }

.w-xs {
  min-width: 80px; }

.w-sm {
  min-width: 95px; }

.w-md {
  min-width: 110px; }

.w-lg {
  min-width: 140px; }

.m-h-50 {
  min-height: 50px; }

.l-h-34 {
  line-height: 34px; }

.font-14 {
  font-size: 14px; }

.font-16 {
  font-size: 16px; }

.font-18 {
  font-size: 18px; }

.font-20 {
  font-size: 20px; }

.font-32 {
  font-size: 32px; }

.font-40 {
  font-size: 40px; }

.no-border {
  border: none; }

.bx-shadow {
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); }

.thumb-sm {
  height: 32px;
  width: 32px; }

.thumb-md {
  height: 48px;
  width: 48px; }

.thumb-lg {
  height: 88px;
  width: 88px; }

.grid-structure .grid-container {
  background-color: #f5f5f5;
  margin-bottom: 10px;
  padding: 10px 20px; }

.header-title {
  font-size: 16px; }

/* ==============
  Waves Effect
===================*/
/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  pointer-events: none; }

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.25); }

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7); }

.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7); }

.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7); }

.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7); }

.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7); }

.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7); }

.waves-notransition {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none; }

.waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none; }

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom; }
  .waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1; }

.waves-block {
  display: block; }

/* ==============
  Print css
===================*/
@media print {
  .logo, .page-title, .breadcrumb, .footer {
    display: none;
    margin: 0;
    padding: 0; }

  .left {
    display: none; }

  .content {
    margin-top: 0;
    padding-top: 0; }

  .content-page {
    margin-left: 0;
    margin-top: 0; }

  .topbar, .footer, .side-menu {
    display: none;
    margin: 0;
    padding: 0; }

  .content-page > .content {
    margin: 0 !important; } }
/* ==============
 Demo Only css
===================*/
.button-items {
  margin-bottom: -8px; }
  .button-items .btn {
    margin-bottom: 8px;
    margin-right: 5px; }

.bs-example-modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block; }

.icon-demo-content {
  text-align: center;
  color: #707070; }
  .icon-demo-content i {
    display: block;
    font-size: 28px;
    margin-bottom: 5px; }
  .icon-demo-content .col-sm-6 {
    margin-bottom: 30px; }
    .icon-demo-content .col-sm-6:hover i {
      color: #4ac18e; }

/* ==============
  Buttons
===================*/
.btn {
  border-radius: 3px; }

.btn-primary, .btn-success, .btn-info, .btn-warning,
.btn-danger, .btn-dark {
  color: #ffffff; }

.btn-secondary {
  background-color: #ffffff;
  border-color: rgba(29, 30, 58, 0.2); }

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active,
.btn-secondary.focus, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover,
.open > .dropdown-toggle.btn-secondary, .btn-secondary.active, .btn-secondary:active,
.show > .btn-secondary.dropdown-toggle {
  background-color: rgba(29, 30, 58, 0.07);
  border: 1px solid rgba(29, 30, 58, 0.2); }

.btn-primary {
  background-color: #4ac18e;
  border: 1px solid #4ac18e; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active,
.btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover,
.open > .dropdown-toggle.btn-primary, .btn-outline-primary.active, .btn-outline-primary:active,
.show > .btn-outline-primary.dropdown-toggle, .btn-outline-primary:hover, .btn-primary.active,
.btn-primary:active, .show > .btn-primary.dropdown-toggle {
  background-color: #3eb481;
  border: 1px solid #3eb481; }

.btn-primary.focus, .btn-primary:focus, .btn-outline-primary.focus, .btn-outline-primary:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(74, 193, 142, 0.3);
  box-shadow: 0 0 0 2px rgba(74, 193, 142, 0.3); }

.btn-success {
  background-color: #67a8e4;
  border: 1px solid #67a8e4; }

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active,
.btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover,
.open > .dropdown-toggle.btn-success, .btn-outline-success.active, .btn-outline-success:active,
.show > .btn-outline-success.dropdown-toggle, .btn-outline-success:hover, .btn-success.active,
.btn-success:active, .show > .btn-success.dropdown-toggle {
  background-color: #519ce0;
  border: 1px solid #519ce0; }

.btn-success.focus, .btn-success:focus, .btn-outline-success.focus, .btn-outline-success:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(103, 168, 228, 0.3);
  box-shadow: 0 0 0 2px rgba(103, 168, 228, 0.3); }

.btn-info {
  background-color: #47b8c6;
  border: 1px solid #47b8c6; }

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.focus,
.btn-info:active, .btn-info:focus, .btn-info:hover, .open > .dropdown-toggle.btn-info,
.btn-outline-info.active, .btn-outline-info:active,
.show > .btn-outline-info.dropdown-toggle, .btn-outline-info:hover, .btn-info.active, .btn-info:active,
.show > .btn-info.dropdown-toggle {
  background-color: #3aacba;
  border: 1px solid #3aacba; }

.btn-warning {
  background-color: #eca14f;
  border: 1px solid #eca14f; }

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active,
.btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover,
.open > .dropdown-toggle.btn-warning, .btn-outline-warning.active, .btn-outline-warning:active,
.show > .btn-outline-warning.dropdown-toggle, .btn-outline-warning:hover, .btn-warning.active,
.btn-warning:active, .show > .btn-warning.dropdown-toggle {
  background-color: #ea9538;
  border: 1px solid #ea9538; }

.btn-danger {
  background-color: #e9595b;
  border: 1px solid #e9595b; }

.btn-danger:active, .btn-danger:focus, .btn-danger:hover, .btn-danger.active,
.btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover,
.open > .dropdown-toggle.btn-danger, .btn-outline-danger.active, .btn-outline-danger:active,
.show > .btn-outline-danger.dropdown-toggle, .btn-outline-danger:hover, .btn-danger.active,
.btn-danger:active, .show > .btn-danger.dropdown-toggle {
  background-color: #e64245;
  border: 1px solid #e64245; }

.btn-dark {
  background-color: #1d1e3a;
  border: 1px solid #1d1e3a;
  color: #ffffff; }

.btn-dark:hover, .btn-dark:focus, .btn-dark:active, .btn-dark.active, .btn-dark.focus,
.btn-dark:active, .btn-dark:focus, .btn-dark:hover, .open > .dropdown-toggle.btn-dark,
.btn-outline-dark.active, .btn-outline-dark:active,
.show > .btn-outline-dark.dropdown-toggle, .btn-outline-dark:hover {
  background-color: #151529;
  border: 1px solid #151529;
  color: #ffffff; }

.btn-dark.focus, .btn-dark:focus, .btn-outline-dark.focus, .btn-outline-dark:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(29, 30, 58, 0.3);
  box-shadow: 0 0 0 2px rgba(29, 30, 58, 0.3); }

.btn-link {
  color: #1d1e3a; }
  .btn-link:hover {
    color: #4ac18e; }

/* button Outline */
.btn-outline-primary {
  color: #4ac18e;
  border-color: #4ac18e; }

.btn-outline-success {
  color: #67a8e4;
  border-color: #67a8e4; }

.btn-outline-info {
  color: #47b8c6;
  border-color: #47b8c6; }

.btn-outline-warning {
  color: #eca14f;
  border-color: #eca14f; }

.btn-outline-danger {
  color: #e9595b;
  border-color: #e9595b; }

.btn-outline-dark {
  color: #1d1e3a;
  background-image: none;
  background-color: transparent;
  border-color: #1d1e3a; }

/* ==============
  Card
===================*/
.card {
  border: 1px solid rgba(112, 112, 112, 0.12); }

.card-primary {
  background-color: #4ac18e;
  border-color: #4ac18e; }

.card-success {
  background-color: #67a8e4;
  border-color: #67a8e4; }

.card-info {
  background-color: #47b8c6;
  border-color: #47b8c6; }

.card-warning {
  background-color: #eca14f;
  border-color: #eca14f; }

.card-danger {
  background-color: #e9595b;
  border-color: #e9595b; }

/* ==============
  Pagination
===================*/
.page-link {
  color: #4ac18e; }

.page-item.active .page-link {
  background-color: #4ac18e;
  border-color: #4ac18e; }

.page-link:focus, .page-link:hover {
  color: #1d1e3a;
  background-color: #eeeeee; }

/* ==============
  Progressbar
===================*/
.progress-bar {
  background-color: #4ac18e; }

/* ==============
  Popover & Tooltips
===================*/
.popover-title {
  margin-top: 0; }

.tooltip .tooltip-inner {
  padding: 4px 10px; }

/* =========== */
/* Sweet Alert */
/* =========== */
.swal2-modal {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
  .swal2-modal .swal2-title {
    font-size: 28px; }
  .swal2-modal .swal2-content {
    font-size: 16px; }
  .swal2-modal .swal2-spacer {
    margin: 10px 0; }
  .swal2-modal .swal2-file, .swal2-modal .swal2-input, .swal2-modal .swal2-textarea {
    border: 2px solid #707070;
    font-size: 16px;
    box-shadow: none !important; }
  .swal2-modal .swal2-styled {
    border: inherit; }

.swal2-icon.swal2-question {
  color: #4ac18e;
  border-color: #4ac18e; }

.swal2-icon.swal2-success {
  border-color: #67a8e4; }
  .swal2-icon.swal2-success .line {
    background-color: #67a8e4; }
  .swal2-icon.swal2-success .placeholder {
    border-color: #67a8e4; }

.swal2-icon.swal2-warning {
  color: #eca14f;
  border-color: #eca14f; }

.swal2-icon.swal2-error {
  border-color: #e9595b; }
  .swal2-icon.swal2-error .line {
    background-color: #e9595b; }

.swal2-modal .swal2-file:focus, .swal2-modal .swal2-input:focus, .swal2-modal .swal2-textarea:focus {
  outline: 0;
  border: 2px solid #4ac18e; }

/* =============
   Nestable
============= */
.custom-dd .dd-list .dd-item .dd-handle {
  background: #f0f1f4;
  border: 1px solid #f0f1f4;
  padding: 10px 16px;
  height: auto;
  font-size: 15px;
  font-weight: normal;
  border-radius: 3px; }
  .custom-dd .dd-list .dd-item .dd-handle:hover {
    color: #4ac18e; }
.custom-dd .dd-list .dd-item button {
  height: auto;
  font-size: 25px;
  margin: 8px auto;
  color: #707070;
  width: 35px; }

.custom-dd-empty .dd-list .dd3-handle {
  border: none;
  background: #f3f3f3;
  height: 36px !important;
  width: 36px !important; }
  .custom-dd-empty .dd-list .dd3-handle:before {
    color: inherit;
    top: 7px; }
  .custom-dd-empty .dd-list .dd3-handle:hover {
    color: #4ac18e; }
.custom-dd-empty .dd-list .dd3-content {
  height: auto;
  border: none;
  padding: 8px 16px 8px 46px;
  background: #f3f3f3;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
  .custom-dd-empty .dd-list .dd3-content:hover {
    color: #4ac18e; }
.custom-dd-empty .dd-list button {
  width: 26px;
  height: 26px;
  font-size: 16px;
  font-weight: 600; }

.dd-dragel > .dd-item .dd-handle {
  padding: 8px 16px !important;
  background: #f3f3f3;
  height: auto; }

.dd-placeholder, .dd-empty {
  background: #f3f3f3;
  border: 1px dashed #707070; }

.dd-dragel > .dd3-item > .dd3-handle {
  border: none;
  background: #f3f3f3;
  height: 36px !important;
  width: 36px !important; }
  .dd-dragel > .dd3-item > .dd3-handle:before {
    color: inherit;
    top: 7px; }

.dd-dragel > .dd3-item > .dd3-content {
  padding: 8px 16px 8px 46px;
  background: #f3f3f3;
  height: auto; }

/* ==============
  Alertify
===================*/
.alertify, .alertify-logs {
  z-index: 99; }

.alertify input {
  border: 2px solid #707070; }

.alertify-logs > .success {
  background-color: #4ac18e;
  color: #ffffff; }

.alertify-logs > .error {
  background-color: #e9595b;
  color: #ffffff; }

.alertify-logs > *, .alertify-logs > .default {
  background-color: #1d1e3a; }

/* ==============
  Charts
===================*/
.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center; }
  .chart canvas {
    position: absolute;
    top: 0;
    left: 0; }

.chart.chart-widget-pie {
  margin-top: 5px;
  margin-bottom: 5px; }

.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2; }
  .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em; }

/* Morris chart */
.morris-hover.morris-default-style {
  border-radius: 5px;
  padding: 10px 12px;
  background: #ffffff;
  border: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14); }
  .morris-hover.morris-default-style .morris-hover-point {
    font-weight: 500;
    font-size: 14px;
    color: #1d1e3a !important; }
  .morris-hover.morris-default-style .morris-hover-row-label {
    background-color: #1d1e3a;
    color: #ffffff;
    padding: 4px;
    border-radius: 5px 5px 0 0;
    margin: -10px -12px 10px; }

/* Flot chart */
#flotTip {
  padding: 8px 12px;
  background-color: #ffffff;
  z-index: 100;
  color: #1d1e3a;
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.14);
  border-radius: 1px; }

/* Chartist chart */
.ct-golden-section:before {
  float: none; }

.ct-chart {
  height: 300px; }

.ct-grid {
  stroke: rgba(0, 0, 0, 0.09);
  stroke-width: 2px;
  stroke-dasharray: 3px; }

.ct-chart .ct-label {
  fill: #707070;
  color: #707070;
  font-size: 14px;
  line-height: 1; }

.ct-chart.simple-pie-chart-chartist .ct-label {
  color: #ffffff;
  fill: #ffffff;
  font-size: 16px; }

.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice-donut {
  stroke: #318e66; }

.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice-donut {
  stroke: #37a174; }

.ct-chart .ct-series.ct-series-c .ct-bar,
.ct-chart .ct-series.ct-series-c .ct-line,
.ct-chart .ct-series.ct-series-c .ct-point,
.ct-chart .ct-series.ct-series-c .ct-slice-donut {
  stroke: #3eb481; }

.ct-chart .ct-series.ct-series-d .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-line,
.ct-chart .ct-series.ct-series-d .ct-point,
.ct-chart .ct-series.ct-series-d .ct-slice-donut {
  stroke: #4ac18e; }

.ct-chart .ct-series.ct-series-e .ct-bar,
.ct-chart .ct-series.ct-series-e .ct-line,
.ct-chart .ct-series.ct-series-e .ct-point,
.ct-chart .ct-series.ct-series-e .ct-slice-donut {
  stroke: #5dc89a; }

.ct-chart .ct-series.ct-series-f .ct-bar,
.ct-chart .ct-series.ct-series-f .ct-line,
.ct-chart .ct-series.ct-series-f .ct-point,
.ct-chart .ct-series.ct-series-f .ct-slice-donut {
  stroke: #70cea6; }

.ct-chart .ct-series.ct-series-g .ct-bar,
.ct-chart .ct-series.ct-series-g .ct-line,
.ct-chart .ct-series.ct-series-g .ct-point,
.ct-chart .ct-series.ct-series-g .ct-slice-donut {
  stroke: #83d5b2; }

.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
  fill: #3eb481; }

.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
  fill: #4ac18e; }

.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
  fill: #5dc89a; }

.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 10px;
  padding: 2px 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
  background: #1d1e3a;
  color: #ffffff;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear; }

.chartist-tooltip.tooltip-show {
  opacity: 1; }

/* C3 chart */
.c3 svg {
  max-width: 100%; }

.c3-tooltip td > span {
  background: #1d1e3a; }

.c3-tooltip td {
  border-left: none; }

.c3-tooltip {
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.12);
  opacity: 1; }

.c3-chart-arcs-title {
  font-size: 18px;
  font-weight: 600;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

.c3-tooltip tr {
  border: none !important; }

.c3-tooltip th {
  background-color: #1d1e3a; }

.c3-tooltip .value {
  font-weight: 600;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

.c3-line {
  stroke-width: 2px; }

.c3-legend-item {
  font-size: 13px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

/* ==============
  Tables
===================*/
.table {
  margin-bottom: 10px; }

th {
  font-weight: 500; }

.table > tbody > tr > td, .table > tfoot > tr > td, .table > thead > tr > td {
  padding: 15px 12px; }

.table-hover tbody tr:hover, .table-striped tbody tr:nth-of-type(odd),
.thead-default th {
  background-color: rgba(0, 0, 0, 0.03); }

/* == Responsive Table ==*/
table.focus-on tbody tr.focused th {
  background-color: #4ac18e;
  color: #ffffff; }
table.focus-on tbody tr.focused td {
  background-color: #4ac18e;
  color: #ffffff; }

.table-rep-plugin .btn-toolbar {
  display: block; }
.table-rep-plugin .btn-default {
  background-color: white;
  border-color: #dddddd;
  margin-right: 5px; }
.table-rep-plugin .btn-default.btn-primary {
  background-color: #4ac18e;
  border-color: #4ac18e; }
.table-rep-plugin .table-responsive {
  border: none !important; }
.table-rep-plugin .btn-group.pull-right .dropdown-menu {
  left: auto;
  right: 0; }
.table-rep-plugin tbody th {
  font-size: 14px;
  font-weight: normal; }
.table-rep-plugin .checkbox-row {
  padding-left: 40px; }
  .table-rep-plugin .checkbox-row label {
    display: inline-block;
    padding-left: 5px;
    position: relative; }
    .table-rep-plugin .checkbox-row label::before {
      -o-transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      background-color: #ffffff;
      border-radius: 3px;
      border: 1px solid #cccccc;
      content: "";
      display: inline-block;
      height: 17px;
      left: 0;
      margin-left: -20px;
      position: absolute;
      transition: 0.3s ease-in-out;
      width: 17px;
      outline: none !important; }
    .table-rep-plugin .checkbox-row label::after {
      color: #555555;
      display: inline-block;
      font-size: 11px;
      height: 16px;
      left: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      position: absolute;
      top: -1px;
      width: 16px; }
  .table-rep-plugin .checkbox-row input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none !important; }
    .table-rep-plugin .checkbox-row input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:focus + label::before {
    outline-offset: -2px;
    outline: none; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
    content: "\f00c";
    font-family: 'FontAwesome'; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::before {
    background-color: #4ac18e;
    border-color: #4ac18e; }
  .table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
    color: #ffffff; }

/* ==============
  Range slider
===================*/
.irs-from, .irs-to, .irs-single {
  background: #4ac18e; }

.irs-from:after, .irs-to:after, .irs-single:after {
  border-top-color: #4ac18e; }

/* ==============
  Session Timeout
===================*/
#session-timeout-dialog .modal-title {
  margin-top: 0; }
#session-timeout-dialog .close {
  display: none; }
#session-timeout-dialog .btn-default {
  background-color: #ffffff;
  color: #e9595b; }
#session-timeout-dialog .countdown-holder {
  color: #e9595b;
  font-weight: 700; }

/* ==============
  Form-elements
===================*/
.form-control:focus {
  border-color: #4ac18e; }

.custom-control-input:checked ~ .custom-control-indicator {
  background-color: #4ac18e; }

.custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #4ac18e;
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #4ac18e; }

.has-success .form-control {
  border-color: #4ac18e;
  box-shadow: none; }

.has-warning .form-control {
  border-color: #eca14f;
  box-shadow: none; }

.has-error .form-control {
  border-color: #e9595b;
  box-shadow: none; }

.input-group-addon {
  border-radius: 2px;
  border: 1px solid #eeeeee; }

/* ==============
  Form-Validation
===================*/
.error {
  color: #ff0000; }

.parsley-error {
  border-color: #e9595b; }

.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0; }

.parsley-errors-list.filled {
  display: block; }

.parsley-errors-list > li {
  font-size: 12px;
  list-style: none;
  color: #e9595b;
  margin-top: 5px; }

/* ==============
  Form-Upload
===================*/
/* Dropzone */
.dropzone {
  min-height: 230px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  background: white;
  border-radius: 6px; }
  .dropzone .dz-message {
    font-size: 30px; }

/* ==============
  Form-Advanced
===================*/
/* Datepicker */
.datepicker {
  border: 1px solid #dddddd;
  padding: 8px; }

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover, .datepicker table tr td.today, .datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover, .datepicker table tr td.selected,
.datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected:hover {
  background-color: #4ac18e !important;
  background-image: none;
  box-shadow: none;
  color: #ffffff; }

/* Bootstrap-touchSpin */
.bootstrap-touchspin .input-group-btn-vertical .btn {
  padding: 9px 12px; }

.bootstrap-touchspin .input-group-btn-vertical i {
  top: 4px;
  left: 8px; }

/* ==============
  Form Editor
===================*/
.mce-panel {
  border-color: #e1e1e1 !important;
  background-color: #eeeeee !important; }

.mce-menu-item:hover, .mce-menu-item.mce-selected, .mce-menu-item:focus {
  background-color: #4ac18e !important; }

.mce-menu {
  background-color: #ffffff !important; }

/* ==============
  Summernote
===================*/
.note-btn-group .dropdown-menu > li > a {
  display: block;
  padding: 5px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap; }
  .note-btn-group .dropdown-menu > li > a:hover {
    background-color: #f3f3f3; }

.note-image-popover, .note-air-popover, .note-link-popover {
  display: none; }
  .note-image-popover .dropdown-toggle::after, .note-air-popover .dropdown-toggle::after, .note-link-popover .dropdown-toggle::after {
    margin-left: 0; }

.note-icon-caret {
  display: none; }

.note-editor {
  position: relative; }
  .note-editor .btn-default {
    background-color: transparent;
    border-color: transparent; }
  .note-editor .btn-group-sm > .btn, .note-editor .btn-sm {
    padding: 8px 12px; }
  .note-editor .note-toolbar {
    background-color: #f3f3f3;
    border-bottom: 1px solid #eeeeee;
    margin: 0; }
  .note-editor .note-statusbar {
    background-color: #ffffff; }
    .note-editor .note-statusbar .note-resizebar {
      border-top: none;
      height: 15px;
      padding-top: 3px; }

.note-editor.note-frame {
  border: 1px solid #eeeeee; }

.note-popover .popover .popover-content {
  padding: 5px 0 10px 5px; }
.note-popover .btn-default {
  background-color: transparent;
  border-color: transparent; }
.note-popover .btn-group-sm > .btn, .note-popover .btn-sm {
  padding: 8px 12px; }

.note-toolbar {
  padding: 5px 0 10px 5px; }

/* ==============
  Calendar
===================*/
.calendar {
  float: left;
  margin-bottom: 0; }

.none-border .modal-footer {
  border-top: none; }

.fc-toolbar {
  margin-bottom: 5px; }
  .fc-toolbar h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase; }

.fc-day {
  background: #ffffff; }

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active,
.fc-toolbar button:focus, .fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0; }

.fc-widget-header {
  border: 1px solid #d5d5d5;
  background-color: #eeeeee; }

.fc-widget-content {
  border: 1px solid #d5d5d5; }

.fc th.fc-widget-header {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
  text-transform: uppercase; }

.fc-button {
  background: #ffffff;
  border: 1px solid #d5d5d5;
  color: #555555;
  text-transform: capitalize; }

.fc-text-arrow {
  font-family: arial;
  font-size: 16px; }

.fc-state-hover {
  background: #f5f5f5; }

.fc-state-highlight {
  background: #f0f0f0; }

.fc-cell-overlay {
  background: #f0f0f0; }

.fc-unthemed .fc-today {
  background: #ffffff; }

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 13px;
  margin: 5px 0;
  padding: 5px 5px;
  text-align: center;
  background-color: #4ac18e;
  color: #ffffff !important; }

.external-event {
  color: #ffffff;
  cursor: move;
  margin: 10px 0;
  padding: 6px 10px; }

.fc-basic-view td.fc-week-number span {
  padding-right: 5px; }
.fc-basic-view td.fc-day-number {
  padding-right: 5px; }

/* ==============
  Widgets
===================*/
.widget-chart li {
  width: 31.5%;
  display: inline-block;
  padding: 0; }
  .widget-chart li i {
    font-size: 22px; }

.mini-stat {
  border: 1px solid rgba(112, 112, 112, 0.12);
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px; }

.mini-stat-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  float: left;
  margin-right: 10px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1); }

.mini-stat-info {
  font-size: 14px;
  padding-top: 2px; }

.mini-stat-info span {
  display: block;
  font-size: 24px;
  font-weight: 600; }

/* ==============
  Timeline
===================*/
.cd-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto; }

.cd-container::after {
  content: '';
  display: table;
  clear: both; }

#cd-timeline {
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 2em 0;
  position: relative; }
  #cd-timeline::before {
    border-left: 3px solid #eeeeee;
    content: '';
    height: 100%;
    left: 18px;
    position: absolute;
    top: 0;
    width: 3px; }

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-bottom: 3em;
    margin-top: 3em; }
    #cd-timeline::before {
      left: 50%;
      margin-left: -2px; } }
.cd-timeline-block {
  margin: 2em 0;
  position: relative; }
  .cd-timeline-block:after {
    clear: both;
    content: "";
    display: table; }

.cd-timeline-block:first-child {
  margin-top: 0; }

.cd-timeline-block:last-child {
  margin-bottom: 0; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0; }

  .cd-timeline-block:first-child {
    margin-top: 0; }

  .cd-timeline-block:last-child {
    margin-bottom: 0; } }
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  color: #ffffff;
  background-color: #4ac18e;
  border: 5px solid #ffffff; }
  .cd-timeline-img i {
    margin-left: 1px; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 40px;
    height: 40px;
    line-height: 30px;
    left: 50%;
    margin-left: -20px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden; }

  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden; }

  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s; } }
.cd-timeline-content {
  border-radius: 5px;
  border: 1px solid #eeeeee;
  margin-left: 60px;
  padding: 1em;
  position: relative; }
  .cd-timeline-content:after {
    clear: both;
    content: "";
    display: table; }
  .cd-timeline-content h2 {
    margin-top: 0; }
  .cd-timeline-content .cd-read-more {
    background: #4ac18e;
    border-radius: 0.25em;
    color: white;
    display: inline-block;
    float: right;
    font-size: 14px;
    padding: .8em 1em; }
  .cd-timeline-content .cd-date {
    display: inline-block;
    font-size: 14px; }
  .cd-timeline-content h3 {
    font-size: 18px;
    margin: 0 0 15px 0; }

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb; }

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7; }

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 12px solid transparent;
  border-right: 12px solid #fafafa; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%; }

  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #eeeeee; }

  .cd-timeline-content .cd-read-more {
    float: left; }

  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #eeeeee; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right; }

  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right; }

  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden; }

  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s; } }
@media only screen and (min-width: 1170px) {
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s; } }
/* ==== =====
Invoice
============= */
.table > thead > tr > .no-line {
  border-bottom: none; }

.table > tbody > tr > .no-line {
  border-top: none; }

.table > tbody > tr > .thick-line {
  border-top: 2px solid #eeeeee; }

/* ==============
  Maps
===================*/
.gmaps, .gmaps-panaroma {
  height: 300px;
  background: #eeeeee;
  border-radius: 3px; }

.gmaps-overlay {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
  background: #4ac18e;
  border-radius: 4px;
  padding: 10px 20px; }

.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute; }

.gmaps-overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #4ac18e; }

.gmaps-overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #4ac18e; }

/* ==============
  Account Pages
===================*/
.accountbg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0; }

.wrapper-page {
  margin: 7.5% auto;
  max-width: 460px;
  position: relative; }
  .wrapper-page .logo-admin {
    font-size: 28px;
    line-height: 70px; }

.user-thumb {
  position: relative;
  z-index: 999; }
  .user-thumb img {
    height: 88px;
    margin: 0 auto;
    width: 88px; }

.ex-page-content h1 {
  font-size: 98px;
  font-weight: 700;
  line-height: 150px;
  text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px; }

/*
File: Menu
*/
.topbar .topbar-left {
  float: left;
  height: 70px;
  position: relative;
  width: 240px;
  z-index: 1;
  background-color: #f0f1f4; }

.logo {
  color: #1d1e3a !important;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .03em;
  line-height: 100px;
  text-transform: uppercase; }

.navbar-custom {
  background-color: #f0f1f4;
  border: none;
  margin-bottom: 20px; }

/* Notification */
.notification-list {
  margin-left: 0 !important; }
  .notification-list .noti-title {
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: #eeeeee;
    margin: -4px 0px 0px 0px;
    width: auto;
    padding: 12px 20px; }
    .notification-list .noti-title h5 {
      margin: 0;
      font-size: 14px;
      text-transform: uppercase; }
    .notification-list .noti-title .label {
      float: right; }
  .notification-list .noti-icon {
    font-size: 28px;
    padding: 0 12px;
    vertical-align: middle;
    color: #707070; }
  .notification-list .noti-icon-badge {
    display: inline-block;
    position: absolute;
    top: 14px;
    right: 15px; }
  .notification-list .notify-item {
    padding: 10px 20px; }
    .notification-list .notify-item .notify-icon {
      float: left;
      height: 36px;
      width: 36px;
      line-height: 36px;
      text-align: center;
      margin-right: 10px;
      border-radius: 50%;
      color: #ffffff; }
      .notification-list .notify-item .notify-icon img {
        margin-top: 4px; }
    .notification-list .notify-item .notify-details {
      margin-bottom: 0;
      overflow: hidden;
      margin-left: 45px;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .notification-list .notify-item .notify-details b {
        font-weight: 500; }
      .notification-list .notify-item .notify-details small {
        display: block;
        white-space: normal; }
      .notification-list .notify-item .notify-details span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px; }
  .notification-list .notify-all {
    border-radius: 0 0 0.25rem 0.25rem;
    margin: 0 0 -5px 0;
    background-color: #eeeeee; }
  .notification-list .profile-dropdown .notify-item {
    padding: 4px 20px; }
  .notification-list .nav-link {
    padding: 0 10px;
    line-height: 70px; }

.profile-dropdown {
  width: 170px; }
  .profile-dropdown i {
    font-size: 17px;
    vertical-align: middle;
    margin-right: 5px; }
  .profile-dropdown span {
    vertical-align: middle; }

.nav-user {
  margin-right: 10px; }
  .nav-user img {
    height: 36px;
    width: 36px; }

.arrow-none:after {
  border: none;
  margin: 0;
  display: none; }

.menu-title {
  padding: 12px 25px !important;
  letter-spacing: .035em;
  pointer-events: none;
  cursor: default;
  font-size: 13px;
  color: #707070; }

.profile {
  padding: 17px 15px !important; }
  .profile img {
    border: 2px solid #edf0f0;
    height: 36px;
    width: 36px;
    float: left; }
  .profile .profile-username {
    margin-left: 45px;
    display: block;
    line-height: 36px; }

.dropdown-menu-lg {
  width: 270px; }

.navbar-nav {
  margin: 0; }

.side-menu {
  bottom: 0;
  top: 0;
  width: 240px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: #f0f1f4;
  position: absolute;
  z-index: 99; }

body.fixed-left .side-menu.left {
  bottom: 50px;
  height: 100%;
  margin-bottom: -70px;
  margin-top: 0;
  padding-bottom: 70px;
  position: fixed; }

.content-page {
  margin-left: 240px;
  overflow: hidden; }

.content-page > .content {
  margin-bottom: 60px;
  padding: 20px 40px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.page-content-wrapper {
  margin: 0 -10px; }

.button-menu-mobile {
  background-color: #f0f1f4;
  font-size: 28px;
  width: 42px;
  border-radius: 3px;
  border: none;
  line-height: 70px;
  display: none; }

.button-menu-mobile-topbar {
  background-color: #4ac18e;
  color: #ffffff;
  font-size: 20px;
  height: 42px;
  width: 42px;
  line-height: 42px;
  border-radius: 0;
  border: none;
  position: absolute;
  right: -42px;
  top: 5px; }

.sidebar-inner {
  height: 100%; }

#sidebar-menu, #sidebar-menu ul, #sidebar-menu li, #sidebar-menu a {
  border: 0;
  font-weight: normal;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none; }

.navbar-nav > li > a.notification-icon-box {
  line-height: 70px; }
  .navbar-nav > li > a.notification-icon-box i {
    font-size: 26px;
    vertical-align: middle; }

#sidebar-menu {
  background-color: #f0f1f4;
  padding-bottom: 50px;
  width: 100%; }
  #sidebar-menu .badge {
    margin-top: 4px; }
  #sidebar-menu ul ul {
    display: none; }
    #sidebar-menu ul ul li {
      border-top: 0; }
    #sidebar-menu ul ul li.active a {
      color: #4ac18e; }
    #sidebar-menu ul ul a {
      color: rgba(29, 30, 58, 0.8);
      display: block;
      padding: 12px 25px 12px 60px; }
      #sidebar-menu ul ul a:hover {
        color: #1d1e3a; }
      #sidebar-menu ul ul a i {
        margin-right: 5px; }
    #sidebar-menu ul ul ul a {
      padding-left: 80px; }

#sidebar-menu > ul > li > a {
  color: #707070;
  display: block;
  padding: 17px 25px;
  background-color: #f0f1f4; }
  #sidebar-menu > ul > li > a:hover {
    color: #1d1e3a;
    text-decoration: none; }
  #sidebar-menu > ul > li > a span i {
    font-size: 18px;
    line-height: 22px; }

#sidebar-menu > ul > li.nav-active > a {
  background-color: #e1e3e9; }

#sidebar-menu > ul > li > a > span {
  vertical-align: middle; }

#sidebar-menu > ul > li > a > i {
  display: inline-block;
  font-size: 18px;
  line-height: 17px;
  margin-left: 3px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  width: 20px; }

#sidebar-menu > ul > li > a > i.i-right {
  float: right;
  margin: 3px 0 0 0; }

#sidebar-menu > ul > li > a.active {
  color: #1d1e3a; }
  #sidebar-menu > ul > li > a.active i {
    color: #1d1e3a; }

#sidebar-menu > ul > li.nav-active > ul {
  display: block; }

#wrapper.enlarged .left.side-menu {
  padding-top: 0;
  z-index: 5;
  margin-left: -100%; }
#wrapper.enlarged .content-page {
  margin-left: 0; }

#wrapper.enlarged .footer {
  left: 0; }

.user-details {
  min-height: 80px;
  padding: 20px;
  position: relative; }
  .user-details img {
    position: relative;
    z-index: 9999;
    height: 64px;
    width: 64px; }
  .user-details .user-info {
    text-align: center; }
    .user-details .user-info .user-status {
      display: inline-block;
      padding: 3px 10px;
      border: 1px solid rgba(34, 34, 34, 0.27);
      border-radius: 20px;
      font-size: 12px; }

.page-title {
  margin: 0;
  line-height: 68px;
  padding-left: 15px;
  font-size: 20px; }

/*
File: Responsive
*/
@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden; } }
@media (max-width: 768px) {
  .side-menu.left {
    margin-left: -100%; }

  .content-page {
    margin-left: 0; }

  .enlarged .side-menu.left {
    margin-left: 0 !important; }

  .button-menu-mobile {
    display: inline-block; }

  .navbar-custom {
    padding-left: 10px; }

  .content-page > .content {
    padding: 20px; } }
@media (max-width: 767px) {
  body {
    overflow-x: hidden; }

  .content-page {
    margin-left: 0 !important; }

  .enlarged .left.side-menu {
    margin-left: -75px; }

  .mobile-sidebar {
    left: 0; }

  .mobile-content {
    left: 250px;
    right: -250px; }

  .wrapper-page {
    width: 90%; }

  .navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    left: auto;
    position: absolute;
    right: 0; }

  #wrapper.enlarged .footer, .footer {
    left: 0; } }
@media (max-width: 620px) {
  .page-header-title {
    text-align: center; } }
@media (max-width: 480px) {
  .side-menu {
    z-index: 10; }

  .button-menu-mobile {
    display: block; }

  .page-title {
    display: none; } }
@media (max-width: 420px) {
  .hide-phone, .notify-icon {
    display: none; }

  .dropdown-menu-lg {
    width: 200px; }

  .notify-details {
    margin-left: 0 !important; } }

/*# sourceMappingURL=style.css.map */
